<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:switch="${restaurantes}">
        <h2 th:case="null">Ainda não temos restaurantes cadastrados</h2>
        <div th:case="*">
            <h2>Restaurantes</h2>
            <table>
                <thead>
                <tr>
                    <th>Nome</th>
                </tr>
                </thead>
                <tr th:each="restaurante: ${restaurantes}">
                    <td th:text="${restaurante.nome}"></td>
                    <td><a th:href="@{/iditar/{id}(id=${restaurante.id})}">Editar</a></td>
                    <td><a th:href="@{/remover/{id}(id=${restaurante.id})}">Remover</a></td>

                </tr>
            </table>
        </div>
        <p><a href="/novo-restaurante">Adiconar Novo Restaurante</a></p>
    </div>
</body>
</html>